/dist/
nbproject/private/private.properties
*.properties

*.properties
nbproject/private/private.xml
/build/
nbproject/private/private.xml
nbproject/private/private.properties
nbproject/private/private.xml
nbproject/private/private.xml
